@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main{
  display: flex;
  flex-flow: column;
  align-items: center; 
  height: 100vh;
  outline: auto; 
} 

#wrap{
  display: flex;
  /* flex-flow: row wrap; */
  margin-top: 3%;
  flex-flow: column wrap;
  align-items: center;
  padding: 3em;
  gap: 1em;
  text-align: center;
  /* outline: auto;  */
  height: 100vh;

}

/* TEXTO */

h2{
  /* font-family: sans-serif; */
  font-family: 'Big Shoulders Display', cursive;
  font-size: xx-large;
  font-weight: 700;
}

p{
  font-family: 'Big Shoulders Display', cursive;
  font-size: 26px;
  font-weight: 500;

}

#localizacion{
  color: #444;
  font-weight: 700;
}

#section-text{
  width: 80%;
}

/* IMÁGENES */
img{
  width: 550px;
  height: 300px;
}

#imagenes{
  border-radius: 1em;
  box-shadow: 2px 2px 8px #444;
}

/* BOTON */

div img{
  position: absolute;
  left: 40px;
  top: 40px;
  width: 20px;
  height: 20px;
}